.create-post-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.2);
}

/* Contenedor del formulario */
.create-post-container {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    height: auto; 
    margin-top: 20px; 
    max-height: 80vh; 
    overflow-y: auto; 
}

.create-post-title {
    text-align: center;
    font-size: 28px;
    color: #962fbf;
}

.create-post-label {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

.create-post-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #962fbf;
}

.create-post-button {
    background-color: #962fbf;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.create-post-button:hover {
    background-color: #4f5bd5;
}
